@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #33FF57;
    font-family: 'Poppins', sans-serif;
}

h1, h2{
    text-align: center;
    margin: 20px;
}

div,span{
    margin: 15px;
}

section {
    margin: 100px auto;
    box-shadow: 10px 5px 5px black;
}

.design{
    padding: 10px;
    background-color: #FF5733;
    max-width: 600px;
}