<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
    <link rel="stylesheet" href="/src/css/dist/main.css">
    <title>Register page</title>
</head>

<body>
    <!-- cover form in a contianer -->
    <div class="container">
        <div class="header">
            <h1>Reactive form</h1>
            <p>Please fill in the below details</p>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" required placeholder="Full name"
                    formControlName="username"/>
                    <span class="error" *ngIf="username.touched && !username.valid && !checkUser">Please enter your name</span>
                    <span class="error" *ngIf="checkUser">Admin is not allowed</span>
                </div>
            <div class="row">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" name="email" id="email" required placeholder="Email"
                formControlName="userEmail"
               />
                    <span class="error" *ngIf="email.touched && !email.valid && !email.errors?.emailValid">Please enter your email</span>
                    <div class="error" *ngIf="email.errors?.emailValid">Enter with domain name gmail.com</div>
            </div>
            <div class="row">
                <i class="fa-solid fa-phone"></i>
                <input type="tel" name="number" id="number" minlength="10" maxlength="10" 
                required placeholder="Phone number" 
                formControlName="userPhone"/>
                    <span class="error" *ngIf="phone.touched && !phone.valid">Please enter your number</span>
            </div>
            <div class="row">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" id="password" 
                required placeholder="Password"
                formControlName="userPassword" 
               />
                    <span class="error" *ngIf="password.touched && !password.valid">Please enter the password</span>
            </div>
            <div class="row">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="confirmpassword" 
                id="password" required placeholder="Confirm password"
                formControlName="userConfirmPassword" 
                />
                    <span class="error" *ngIf="confirmPassword.touched && !confirmPassword.valid">Please enter the password</span>
            </div>
            <div class="spacing"></div>
            <div class="row">
                <input type="submit" value="Submit" class="btn-submit" [disabled]="!registerForm.valid  || !checkPassword">
            </div>
            <div class="row center">
                <h6>Registered already ? <a routerLink="/login" routerLinkActive="active"><span class="highlight">Sign In </span></a></h6>
            </div>
        </form>
    </div>
</body>
</html>
