@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

:root{
    --header : #1B4D3E;
    --body-color :#17B169
}

/* common classes and selectors */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    background: var(--body-color);
}

.container {
    width: 400px;
    box-shadow: 5px 5px 5px;
    overflow: hidden;
    border-radius: 10px;
}

/* title */

.header{
    padding: 20px;
    background: var(--header);
}

.header > *{
    margin-left: 20px;
    color: #fff;
}

.header h1{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.5;
}

.header p{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

/* form */

form{
    padding: 20px;
    background: #fff;
}

.row {
    margin:10px;
}

input[type="email"], input[type="password"], input[type="tel"], input[type="text"]{
    width: 80%;
    height: 5vh;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid black;
    /* margin-bottom: 10px; */
}

/* submit button */

input[type="submit"]{
    width: 80%;
    height: 7vh;
    margin-left: 15px;
    background: var(--body-color);
    color: #fff;
    font-size: large;
    font-weight: bolder;
    border: 0;
    border-radius: 10px;
}

input[type="submit"]:hover{
    background: var(--header);
    color: #F0F8FF;
    cursor: pointer;
}


/* checkbox */

input[type="checkbox"]{
    margin: 5px 0 10px 15px;
}

input[type="checkbox"]:active{
    background: #1B4D3E;
}



/* forgot password */

h6{
    font-size:12px;
    font-weight: bolder;
    line-height: 1;
    margin: 0 48px 40px 15px;
    text-align: righ
}

.row a{
    text-decoration: none;
    color: var(--body-color);
}

.row a:hover{
    color:var(--header);
}

/* sign up */

.center{
    margin-top: 15px;
    text-align: center;
}

.spacing{
    margin-bottom: 40px;
}